body {
  background: linear-gradient(
      rgba(255,255,255, 0.45),
      rgba(255, 255, 255, 0.45)),
  url("http://i.imgur.com/xa7jLQN.jpg");
  color: #1E2749;
}

h1 {
  color: #2B9EFF;
}

h2,
h3,
h4,
p {
  color: #0C026D;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.25em;
}

p {
  font-size: 1em;
}

a {
  font-size: 2em;
  color: #2B9EFF;
  text-decoration: none;
}

a:hover {
  color: #FF4A43;
}
