img {
  max-width: 100%;
}

nav {
  padding: 10px;
}

.main-nav {
  text-align: center;
}

#about {
  text-align: center;
  padding: 50px;
}

#projects {
  text-align: center;
}

.project {
  margin: 10px;
}

#filters {
  padding-bottom: 25px;
}

footer {
  left:0;
  bottom:0;
  height: 50px;
  width: 100%;
  padding: 0.75em;
}

footer p {
  padding-top: 0.5em;
}

@media (min-width: 768px){
  nav {
    padding: 2px;
  }

  .main-nav {
    text-align: right;
  }

  .project {
    text-align: left;
  }

  .about-row {
    margin: 0 -3em 0 -3em;
  }

  .about-left {
    margin-right: 1em;
    padding-right: 2em;
  }

  .repos {
    margin-left: 1em;
    padding-left: 2em;
  }
}
