/* === nav styles === */
nav {
  padding: 10px;
}

.hamburger {
  font-size: 1.5em;
}

.main-nav li {
  padding-bottom: 3px;
  border-bottom: 1px solid gray;
}

/* === footer styles === */
.social {
  font-size: 2em;
}

.social li a {
  color: #1E2749;
}
