/* === nav styles === */
nav {
  padding: 10px;
}

.hamburger {
  font-size: 1.5em;
}

.tab {
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
}

.social {
  font-size: 2em;
  padding-right: 10px;
}

.social li a {
  color: #1E2749;
}

@media (min-width: 768px){
  nav {
    padding: 2px;
  }

  .hamburger {
    visibility: hidden;
  }

  .main-nav {
    text-align: right;
  }

  .social {
    font-size: 1em;
  }

  .tab {
    border-bottom: 0px;
    display: inline;
    margin-right: 30px;
  }

  .tab a {
    font-size: 1.5em;
  }
}
